.getstart{
	float:right !important;
   	margin-right: -20px !important;
}

.info{
    float:left !important;
    max-width:70% !important;
}

 @media (max-width: 980px){
    .getstart{
      margin-right: -84px !important;
    }
  }
  @media (max-width: 880px){
    .getstart{
      margin-right: -70px !important;
    }
  }
  @media (max-width: 850px){
    .getstart{
      margin-right: -40px !important;
    }
  }
  @media (max-width: 800px){
    .getstart{
      float:left !important;
    }
    .info{
      max-width: 100% !important;
    }
  }

h1{
    color:#29378c !important;
    font-size:30px;
    font-weight:bold;
    line-height: 34px;
}

h2{
    color:#d1572c !important;
    font-size:24px;
    font-weight:bold;
    line-height: 28px;
}

h3{
    color:#79AF00 !important;
    font-size:24px;
    font-weight:bold;
    line-height: 28px;
}

h4{
    color:#29378c !important;
    font-size:24px;
    font-weight:bold;
    line-height: 28px;
}

p{
    color: #3d3d3d !important;
    font-weight:normal;
    font-size: 19px;
    line-height: 26px;
}

li{
    font-size: 19px;
    font-weight:normal;
    line-height:24px;
    margin-bottom: 5px;
}

.orange{
    color:#d1572c !important;
}

.blue{
    color:#29378c !important;
}

.green{
    color:#79AF00 !important;
}

.flexslider .downloads {
    background-color:rgb(35, 132, 190) !important;
}

.detailActive{
    color:#d1572c !important;
}
