<section>
  <div class="container">
 <br /><br /><br />
<h1>Create A Type Of Ticket To Sell</h1><input type="button" onclick="history.go(-1);" value="Back" class="btn btn-primary" style="float:right;position:relative;top:5px;"></input>
<div class="clearfloat"></div>
  <br>
<br/>
<%= render 'form' %>
</div>
</section>