<div id="content_outter" class="main_content_pane_outter">
<div id="content_inner" class="main_content_pane" >
<h1 style="font-size: 36pt;"><%=@event.name%></h1>
<div class="clearfloat"></div>
  <hr /><br>

<p style="color:#000">Promotion Link: (http://link goes here.blah blah linkage)</p>
<p style="color:#000">Commission: <%= @contract.commission %>%</p>

</div>
</div>
</div>
