<script>
  $('#clipcontrol').hide();
  $('#pags').hide();
  $('#foreground').hide();
  $('#maincontentdiv').hide();
 // $('#maincontentdiv').fadeIn(1500);

$('#maincontentdiv').animate({top: "600px"}, 0 );
  $('#maincontentdiv').show();
  $('#maincontentdiv').animate({top: "101px"}, 1000 );


  $(document).ready(function () {
  $('#pword').val('');
  $('#pwordc').val('');
  });


</script>
<center><h1>Congratulations!</h1>
<h1>Your Tickets Were Successfully Purchased!</h1></center>

