<div id="wrap">
			<table id="layout" border="0" cellspacing="0" cellpadding="0" width="600">
				<tr>
					<td>
						<img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/beauty_reminder_header.1.png" style="max-width: 600px;">
					</td>
				</tr>
				<tr style="position:relative;top:-5px;">
					<td id="content">
                      <center><a href="http://www.eventastic.com"><img src="https://s3.amazonaws.com/storage.production.giftopia.cdn/logowedding.png" style="max-width: 600px;"></a></center>
                        <center><p style="color:#89c8be;">You got a thank you from <%= @thank_you.sender.display_name %>!<br /><br />
                        <% if @thank_you.to_note and @thank_you.to_note != "" %>
                         <!-- A note is attached:<br />
                          <%= @thank_you.to_note %>
                          <br />    -->
                        <% end %>

                        <% if @thank_you.opentok_video_id %>
                        <!--  And a video is attached:<br />-->

                          <%= @local_html.html_safe %>
                        <% end %>
                        </p></center>
                    </td>
				</tr>
				<tr>
					<td id="page_curl">
						<img src="http://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/beauty_coupon_footer.png" />
					</td>
				</tr>
				<tr>
					<td id="footer">
					    <p>Copyright (C) <%= Time.now.year %> Giftopia Inc. All rights reserved.</p>
					</td>
				</tr>
			</table>
		</div>
		<span style="padding: 0px;"></span>
