<%= stylesheet_link_tag '/css_temp/override.css' %>
<div class="row top-slider">
  <div class="container">
    <br />
    <br />
    <div class="info">
          <h1>EVENT TICKETING</h1>
      </div>

    <div style="display:inline-block">
      
    <div class="info">
      <br />

      <h2>Regardless of the size of your event, online ticketing will help you achieve great results. </h2>
      <br />

      <p>Promote your event with the best tools in the industry and watch your ticket sales soar.</p>

      <ul style="list-style:square; padding:10px">
        <li>Attendees can simply, download environmentally friendly e-tickets or print their own bar-coded tickets.</li>
        <li>If you keep it free, then we keep it free – it’s that simple. If you are processing transactions for ticket sales our <a href="/pricing_f"><b>service fees</b></a> will apply, but don’t worry, they are the some of the lowest in the industry. You can choose to include the some or all of the fees in your ticket price or absorb the cost.</li>
        <li>Event ticketing features:</li>
        <li>Instant online ticketing and mobile check in</li>
        <li>Sales reporting</li>
        <li>Room capacity protection on ticket sales </li>
        <li>Scalable ticketing software so you can build custom tickets and ticket packages</li>
        <li>Not just for admission  ticket sales; sell tickets for beverages, raffles -  the sky’s the limit</li>
        <li>Merchandise sales- sell any item on event your page</li>
        <br />
      </ul>

    </div><!--info-->

      <div class="getstart">
        <br />
        <%= render 'users/signup' %>
      </div> 

    </div><!--inline-block-->
      <br />
      <br />
      <br />
     
  </div><!--container-->
</div><!-- /top-slider -->

<div class="row top-download" style="margin-bottom: 5px;">
 <!-- <div class="button-container-top">
    <div class="fadehover">
      <a href="#download" class="top-download-button"><img class="a" src="img/download-button.png" alt="Download"><img class="b" src="img/download-button-hover.png" alt="Download"></a>
    </div>
  </div> -->
</div>

<!--<section>
  <div class="container">
    <div class="row screenshots">
      <div class="span12"><h4 class="red">Newest Events...</h4></div>
      <%#@events.each do |event|%>
          <div class="span2">
            <a href="<%#=event.event_url(:standard) %>" class="thumbnail">
              <p>wefwfewa</p>
              <img src="<%#=event.event_url(:feed) %>" alt="<%#=event.name%>_Screenshot"/>
            </a>
          </div>
     <%# end %>
    </div>
    <hr/>
  </div>
</section>--><!-- /screenshots -->

<!--<section>
  <div class="container">
    <div class="testimonials row">
      <div class="span12"><h4 class="red">Testimonials</h4>
        <div class="flexslider testimonial">
          <ul class="slides">
            <li>
              <div class="testimonial-slides"><img src="img/testimonial1.jpg" alt="Photo"/>
                <blockquote>An Amazing Review!</blockquote>
                <div class="testimonial-footer red"><span class="bold">— Steve Jobs</span> / Apple Founder</div>
              </div>
            </li>
            <li>
              <div class="testimonial-slides"><img src="img/testimonial1.jpg" alt="Photo"/>
                <blockquote>An Amazing Review!</blockquote>
                <div class="testimonial-footer red"><span class="bold">— Bill Gates</span> / Microsoft Founder</div>
              </div>
            </li>
            <li>
              <div class="testimonial-slides"><img src="img/testimonial1.jpg" alt="Photo"/>
                <blockquote>An Amazing Review!</blockquote>
                <div class="testimonial-footer red"><span class="bold">— James Clavell</span> / Author</div>
              </div>
            </li>
          </ul>
        </div>
        <img class="testimonial-border" src="img/testimonial-border.png" alt="border"/>
      </div>
    </div>
  </div>
</section>--><!-- /testimonials -->