<%= stylesheet_link_tag '/css_temp/override.css' %>

<div class="row top-slider">
  <div class="container">
  <br />

  <h1>How to add an event rep</h1>
  <br />
  
  <h2>Event Organizers Rejoice!</h1>
  <br />

  <h3>Setting up an event with Eventastic couldn’t be easier.</h3>

  <ul style="list-style:square;padding:10px">
    <li><p>Attendees can simply download environmentally friendly e-tickets or print their own bar-coded tickets. </p></li>
    <br />
    <li><p>Once logged in select ‘create event’ from the main navigation</p></li>
    <br />
    <center><img src="/images/gs1.png"></center>
    <br />
    <li><p>Complete the details of your new event such as setting up online ticketing options and donations.</p></li>

    <br />
    <table>
      <tr>
        <td style="width:30%">
          <center><img src="/images/gs2.png" width="100%" style="max-width: 200px !important;"></center>
        </td>
        <td style="width:70%;">
         <p>As you add information and select save, you will move through the set-up options available. Each of these features has a hand in building your event page. Anytime you need more information about a field, not a problem, mouse over this icon "<img src="/images/info_icon.png" width="20px">" to get details on how that field will be used</p>
        </td>
      </tr>
    </table>
    <br />

    <li><p>When you are done completing each section, publish your event by clicking ‘Save & Complete’ on the Publish Event Page.</p></li>
    <br />
    <p><i>Note</i>: The event information can always be edited to perfect your marketing message and include additional <a href="/landing1">features</a>. </p>
  </ul>
  <br />

  <h3>How to Share Your Event</h3>
  <br />

  <ul style="list-style:square; padding:10px">
    <li><p>After you have completed and saved your event, share your event by going to your event page and selecting “Invite Friends” in the event information. Share via Email, Facebook or Twitter.</p></li>
    <br />
    <img src="/images/gs3.png">
  </ul>
  <br />

  <h3>How to Add An EventRep</h3>
  <br />

  <ul style="list-style:square;padding:10px">
    <li><p>If you want to add an event rep, also known as a sales person, go to ‘My Events’ by Selecting ‘My Events’ from the main navigation</p></li>
    <br />
    <center><img src="/images/gs4.png"></center>
    <br />
    <li><p>Once on your event dashboard, find the event you would like to add an EventRep to and select “click for details”</p></li>
    <br />
    <img src="/images/gs5.png">
    <br />
    <li><p>Event details will appear below. Here you will find a button called “Manage Sales People”. Select this button to add new EventReps and to manage existing EventReps.</p></li>
    <br />
    <img src="/images/gs6.png">
    <br />
    <li><p>Here you can see all activity generated from your EventReps as well as add new EventReps. To add a new Rep, enter their information into the Add New Sales Person section, indicate their commission percentage and select “Add Sales Person”.</p></li>
    <br />
    <img src="/images/gs7.png">
    <br />
    <li><p>Once you added the new EventRep, an email will be sent to them with:</p></li>
    <li><p>Their unique event URL that must be used to track their commissions</p></li>
    <li><p>A unique link to access their ticket sales information</p></li>
    <li><p>Once your EventRep gets the email, they can begin selling tickets online.</p></li>
  </ul>
  <br />

  <h3>How to Check Out</h3>
  <br />

  <ul style="font-size:16px;list-style:square; font-weight:bold">
    <li><p>When your event is over and you are ready to collect your money, select “Click For Details” on the event in your dashboard.</p></li>
    <br />
    <img src="/images/gs5.png">
    <br />
    <li><p>Event details will appear below. Here you will find a button called “Manage Ticket Sales”. Select this button to view ticket sales and request event cash out. </p></li>
    <br />
    <img src="/images/gs8.png">
    <br />
    <li><p>At the bottom of the Manage Ticket Sales section, there is a button titled ‘Request Event Cash Out!”. Select the button to request your money.</p></li>
    <br />
    <img src="/images/gs9.png">
    <br />
    <li><p>You will be asked to answer your security question. If you have not set one up, you will be promoted to.</p></li>
    <br />
    <li><p>Once you answer your security question, an email will be sent to your inbox letting you know the request is being processed.</p></li>
    <br />
    <li><p>Within the next 48 hours you will received an email transfer from PayPal. Open the email and follow the instructions to deposit your money.</p></li>
    <br />
    <li><p><i>Note</i>: If you have EventReps, their commission will be distributed to them at event cash out as well. They will receive their funds in the same method you do, an email transfer from PayPal.</p></li>
  </ul>
  <br />

  <br />
  <center><input class="btn btn-large btn-success" value="Get Started now!" type="button" onclick="window.location='/user/new'"/></center>
    
    <br />
    <br />
    <br />

  </div>
</div><!-- /top-slider -->

<div class="row top-download" style="margin-bottom: 5px;">
 <!-- <div class="button-container-top">
    <div class="fadehover">
      <a href="#download" class="top-download-button"><img class="a" src="img/download-button.png" alt="Download"><img class="b" src="img/download-button-hover.png" alt="Download"></a>
    </div>
  </div> -->
</div>

<!--<section>
  <div class="container">
    <div class="row screenshots">
      <div class="span12"><h4 class="red">Newest Events...</h4></div>
      <%#@events.each do |event|%>
          <div class="span2">
            <a href="<%#=event.event_url(:standard) %>" class="thumbnail">
              <p>wefwfewa</p>
              <img src="<%#=event.event_url(:feed) %>" alt="<%#=event.name%>_Screenshot"/>
            </a>
          </div>
     <%# end %>
    </div>
    <hr/>
  </div>
</section>--><!-- /screenshots -->

<!--<section>
  <div class="container">
    <div class="testimonials row">
      <div class="span12"><h4 class="red">Testimonials</h4>
        <div class="flexslider testimonial">
          <ul class="slides">
            <li>
              <div class="testimonial-slides"><img src="img/testimonial1.jpg" alt="Photo"/>
                <blockquote>An Amazing Review!</blockquote>
                <div class="testimonial-footer red"><span class="bold">— Steve Jobs</span> / Apple Founder</div>
              </div>
            </li>
            <li>
              <div class="testimonial-slides"><img src="img/testimonial1.jpg" alt="Photo"/>
                <blockquote>An Amazing Review!</blockquote>
                <div class="testimonial-footer red"><span class="bold">— Bill Gates</span> / Microsoft Founder</div>
              </div>
            </li>
            <li>
              <div class="testimonial-slides"><img src="img/testimonial1.jpg" alt="Photo"/>
                <blockquote>An Amazing Review!</blockquote>
                <div class="testimonial-footer red"><span class="bold">— James Clavell</span> / Author</div>
              </div>
            </li>
          </ul>
        </div>
        <img class="testimonial-border" src="img/testimonial-border.png" alt="border"/>
      </div>
    </div>
  </div>
</section>--><!-- /testimonials -->