<div class="row top-slider">
  <div class="container">
    <br />
     <div class="info">
        <h1>ONLINE EVENT MANAGEMENT</h1>
      </div>


    <div style="display:inline-block;">
      <div class="info">
  
     
      <br />
    
      <h2>Regardless of the size of your event, you'll find it easier to manage all the details with our comprehensive set of tools.</h2>
      <br />

      <p>Promote and sell your event tickets faster than ever before. Add your event details, and personal or corporate branding to your event page and you’ll be up and running in minutes. With Eventastic, you can create, promote, track, manage and sell all in one place. <br />

 	    We make event management easy.<br /><br />

      Here are just some of the features that will help promote and sell-out your event. </p>

      <ul style="list-style:square;padding:10px">
        <li><p>Video invitations</p></li>
        <li><p>Instant digital ticketing – print options available</p></li>
        <li><p>Scalable Ticketing software to for your custom tickets and ticket packages</p></li>
        <li><p>Social media sharing and integration</p></li>
        <li><p>Cross-promotions with event partners and sales reps</p></li>
        <li><p>Commission Event Rep for increased sales</p></li>
      </ul>
      
      <p>Spread the word and increase attendance at your next concert, theatre production, golf tournament, or festival.<br />

      Create engaging invitations, share across social media to create buzz and keep track of your event’s performance, all in our easy to use online platform.<br /><br />

      <h3>It’s like having a public relations team in your pocket.</h3>

      </div><!--info-->

      <div class="getstart">
        <br />
        <%= render 'users/signup' %>
      </div>       

    </div><!--display:inline-block-->
      
    
    <br />
    <br />
    <br />
    <br />

  </div>
</div><!-- /top-slider -->

<div class="row top-download" style="margin-bottom: 5px;">
 <!-- <div class="button-container-top">
    <div class="fadehover">
      <a href="#download" class="top-download-button"><img class="a" src="img/download-button.png" alt="Download"><img class="b" src="img/download-button-hover.png" alt="Download"></a>
    </div>
  </div> -->
</div>












  
