<div class="row top-slider">
  <div class="container">
    <br />
      <div class="info">
        <h1>POST EVENTS ONLINE</h1>
      </div>

    <div style="display:inline-block;">
      <div class="info">

       
        <br />

        <h2>Promote your event online with a customized event page with Eventastic.</h2>
        <br />

        <p>Every event has the option of being private or public in our event dierectory.  Public events let anyone see and attend your event, increasing your opportunity for tickets sales and registrations.  Private posts let you plan and manage the party but keep the details and registration limited to only those who received the private link.  A great feature for surprise parties or personal events you don't want to share with the world.</p>
        <br />

      </div><!--info-->

      <div class="getstart">
        <br />
        <%= render 'users/signup' %>
      </div>       

    </div><!--display:inline-block-->
      
    <br />
    <br />
    <br />
  
  </div>
</div><!-- /top-slider -->

<div class="row top-download" style="margin-bottom: 5px;">
 <!-- <div class="button-container-top">
    <div class="fadehover">
      <a href="#download" class="top-download-button"><img class="a" src="img/download-button.png" alt="Download"><img class="b" src="img/download-button-hover.png" alt="Download"></a>
    </div>
  </div> -->
</div>