<div style="background:#fff;">

    <div class="container">
        <div class="span2 box" style="width:320px;">
          <h2>Attending</h2>
          <!--<a href="/help">Get Help</a><br />-->
          <a href="/check_in">Mobile app check-in</a><br />
          <a href="/resend_tickets">Resend Your Tickets</a><br />
          <a href="/attendees_f">FAQ (Attendees)</a><br />
          <a href="/upload_photo">Uploading Photos</a>
        </div>
      <!--  <div class="span2 box">
          <h2>Organizing</h2>
          <a href="/mobile">Mobile App</a><br />
          <a href="/online_event">Online Event Registration</a><br />
          <a href="/sell_tickets_f">Sell Tickets Fast</a><br />
          <a href="/event_ticketing">Event Ticketing</a><br />
          <a href="/party_planning">Party Planning</a><br />
          <a href="/concert_planning">Concert Planning</a><br />
          <a href="/concert_planning">Performance Planning</a><br />
          <a href="/planning_fundraiser">Planning A Fundraiser</a><br />
          <a href="/money_gifts">Collect Money Gifts</a><br />
          <a href="/post_events_online">Post Events Online</a><br />
          <a href="/online_event_management">Online Event Management</a><br />
        </div> -->
        <!--<div class="span2 box" >
          <h2>Need Help?</h2>
         <!-- <a href="">Online Demos</a><br />-->
       <!--   <a href="/get_started">Getting Started</a><br />
          <a href="http://eventasticme.wordpress.com" target="_blank">Ideas & Tips</a><br />
          <!--<a href="">Help Guide</a><br />-->
        <!--  <a href="/pricing_f">Pricing</a><br />
          <a href="/redemption">Collecting Your Money</a><br />
          <a href="/creators">FAQ (Organizers)</a><br />
          <a href="/feedback">Submit Feedback</a><br />
          <a href="/submit_testimonial">Submit A Testimonial</a><br />
          <a href="/gethelp">Get Help!</a><br />

        </div> -->

        <div class="span2 box" style="width:320px;">
          <h2>About</h2>
          <!--<a href="/contact">Contact Us</a><br /> -->
          <a href="/about_foot">About</a><br />
          <a href="/affiliates">Affiliate Program</a><br />
          <a href="/sales">Sales Rep(s) Program</a><br />
          <a href="<%=terms_of_service_affiliates_path%>">Affiliates Terms Of Service</a><br />
          <!--<a href="">Site Map</a><br />-->
          <a href="/terms_of_service">General Terms Of Service</a><br />
          <a href="/privacy">Privacy Policy</a><br />
          <a href="/contact">Contact Us</a>
        </div>

        <div class="span2 box" style="width:320px;">
          <h2>Connecting</h2>
          <a href="mailto:support@eventastic.com"><img src="/img/social-icons/grey_email.png" alt="Email" /> Email</a><br />
          <a href="https://twitter.com/eventasticme"><img src="/img/social-icons/tround.png" alt="Twitter" width="36px"/> Twitter</a><br />
          <a href="https://www.facebook.com/pages/Eventastic/487978684591977?ref=hl"><img src="/img/social-icons/fround.png" alt="Facebook"width="36px" /> Facebook</a><br />
          <a href="http://pinterest.com/eventasticme/"><img src="/img/social-icons/pround.png" alt="Pinterest" width="36px"/> Pinterest</a><br />
          <a href="http://www.youtube.com/user/Giftopia"><img src="/img/social-icons/yround.png" alt="Youtube" width="36px"> Youtube</a><br />
          </ul>
        </div>
    </div>
    </div>