<div id="content_outter" class="main_content_pane_outter">
<div id="content_inner" class="main_content_pane">
  <h1 style="font-size:25pt;float:left;">New Video Message</h1><input type="button" value="Back To Video Message Manager"  onclick="window.location='<%=invitation_messages_path%>'" class="btn btn-success" style="float:right;position:relative;top:6px;"></input>
<div class="clearfloat"></div>
<br>
<div class="contentarea">
<%= render 'form' %>
<br />
</div>
</div>
</div>
<script>
    init();
    </script>