<script>
  $('#clipcontrol').hide();
  $('#pags').hide();
  $('#foreground').hide();
  $('#maincontentdiv').hide();
 // $('#maincontentdiv').fadeIn(1500);

$('#maincontentdiv').animate({top: "600px"}, 0 );
  $('#maincontentdiv').show();
  $('#maincontentdiv').animate({top: "101px"}, 1000 );
</script>
<div class="contentarea">
<div class="giftformline">
<h1>How To ~The Wedding Registry~</h1>
</div>
<hr />
<br />
<div class="about">Getting Started Is As Easy As...</div>
<br />


<div class="aboutvideotop">

  <div class="aboutvideotopcontent">
    <div class="aboutvideotopcontenttitle">1...</div>
    <a class="sublime zoomable" href="http://d2ifp7npw1n0ea.cloudfront.net/Profiles.m4v">
      <img src="/images/VidSnaps/profiles.png" alt=""/>
      <span class="zoom_icon"></span>
    </a>
    <video id="video2" style="display:none" class="sublime zoom" width="640" height="480" poster="/images/VidSnaps/profiles.png" preload="none">
      <source src="http://d2ifp7npw1n0ea.cloudfront.net/Profiles.m4v"/>
    </video>
    <p class="aboutvideotopcontenttext">Create Your Profile...</p>
  </div>

    <div class="aboutvideotopcontent">
    <div class="aboutvideotopcontenttitle">2...</div>
      <a class="sublime zoomable" href="http://d2ifp7npw1n0ea.cloudfront.net/AddingGift.m4v">
      <img src="/images/VidSnaps/Addinggift.png" alt=""/>
      <span class="zoom_icon"></span>
    </a>
    <video id="video3" style="display:none" class="sublime zoom" width="640" height="480" poster="/images/VidSnaps/Addinggift.png" preload="none">
      <source src="http://d2ifp7npw1n0ea.cloudfront.net/AddingGift.m4v"/>
    </video>
    <p class="aboutvideotopcontenttext">Add Your Gifts...</p>
  </div>

    <div class="aboutvideotopcontent">
    <div class="aboutvideotopcontenttitle">3...</div>
      <a class="sublime zoomable" href="http://d2ifp7npw1n0ea.cloudfront.net/addingcontacts.m4v">
      <img src="/images/VidSnaps/AddingContacts.png" alt=""/>
      <span class="zoom_icon"></span>
    </a>
    <video id="video4" style="display:none" class="sublime zoom" width="640" height="480" poster="/images/VidSnaps/AddingContacts.png" preload="none">
      <source src="http://d2ifp7npw1n0ea.cloudfront.net/addingcontacts.m4v"/>
    </video>
    <p class="aboutvideotopcontenttext">Add Your Friends...</p>
  </div>

</div>
<br />
<br />

<div class="about2"><!--<div class="aboutvideotopcontenttitle">1</div>--> Personalize Your Profile</div>
<p>Add your sizes, your favourite colours, favourite stores as well as your Birthday or Anniversary so your Wedding Registry contacts will always know what you’re into.</p>
<br />
<div class="about"><!--<div class="aboutvideotopcontenttitle">2</div>--> Add Items to Your Gift List</div>
<p>Add your favourite items and even pictures to your gift list from anywhere using your smartphone.</P>
<br />
<div class="about2"><!--<div class="aboutvideotopcontenttitle">3</div>--> Add Your Friends and Family</div>
<p>Start giving and receiving great gifts by inviting your friends and family to join you on The Wedding Regsitry from other social networks or from your smartphone’s address book.</p>
<br />


<div class="about">Create Personal Gift Registries</div>
<p>The Wedding Registry keeps all of your registry items (Bridal shower, Baby shower, Stag and Doe) together in one place and shares them with only the contacts you specify.</P>

<br />
<hr>
<br />

<div class="script">New Brides</div>
  <p>1 - If you already have a registry started somewhere else you can simply use the <a href="/getbookmarklet">toolbar button</a> to consolidate your registry into one universal Wedding Registry wishlist!</p>
  <br />
  <p>2 - Once you have the toolbar button, its as easy as simply clicking it when you see a single item on a page that you like. And presto! its in your list!</p>
  <br />
  <p>3 - If you want a set of something or multiple items of the same gift, like stemware or place settings, simply click that button as many times as you want sets. (i.e. 8 place settings: 8 items), allowing people to each select one if desired.</p>
  <br />
  <p>4 - Remember that when you are out and about and see something you like, you can snap it with The Wedding Registry on your smart phone!  It's quick, free, and convenient, you can even add the location and the sales persons name if you like!</p>
  <br />
  <p>5 - Invite your guests early in the process,  many of them may need time to confirm your email invite.  We find that its never too early to let your guests know what you are wanting. With The Wedding Registry you can include things like your honeymoon (for a group purchase)  or even your wedding dress (with store location).  But remember, don’t let him see the picture of it before the big day!</p>
<br />
<hr>


<div class="script">Get It To Go</div>
<p>Add items on the go, manage your shopping list from anywhere, invite friends using your smartphone’s address book, scan bar codes, take pictures of things you like from the stores you like - all of this is available with The Wedding Registry for your BlackBerry, Android or iPhone.</p>

<br />
<hr>
<br />


<!-- <a href="http://appworld.blackberry.com/webstore/content/67972" target="_blank" class="blackberrycleared"></a>   -->
<!-- <a href="https://play.google.com/store/apps/details?id=me.giftopia" target="_blank" class="androidcleared"></a>  -->
 <!--<a href="http://itunes.apple.com/us/app/giftopia-me/id473220479" target="_blank" class="iphonecleared"></a>   -->
<div class="script">More Information</div>
<p>We are always looking for ways to improve The Wedding Registry and make it better for you; the people who use it. If you have a question or a suggestion on how we can make The Wedding Registry better for everyone, email us: <a href="mailto:support@giftopia.me">support@giftopia.me</a> </p>
<br />

  <div class="aboutvideotop">

    <div class="aboutvideotopcontent">
      <a class="sublime zoomable" href="http://d2ifp7npw1n0ea.cloudfront.net/Giftopia1min.m4v">
      <img src="/images/GiftopiaVideo3.png" alt=""/>
      <span class="zoom_icon"></span>
    </a>
    <video id="video6" style="display:none" class="sublime zoom" width="640" height="480" poster="/images/GiftopiaVideo3.png" preload="none">
      <source src="http://d2ifp7npw1n0ea.cloudfront.net/Giftopia1min.m4v"/>
    </video>
    <p class="aboutvideotopcontenttext">Giftopia Tv Spot</p>
  </div>

   <div class="aboutvideotopcontent">
    <a class="sublime zoomable" href="http://d2ifp7npw1n0ea.cloudfront.net/Wedding.m4v">
      <img src="/images/weddingsnap2.png" alt=""/>
      <span class="zoom_icon"></span>
    </a>
    <video id="video5" style="display:none" class="sublime zoom" width="640" height="480" poster="/images/weddingsnap2.png" preload="none">
      <source src="http://d2ifp7npw1n0ea.cloudfront.net/Wedding.m4v"/>
    </video>
    <p class="aboutvideotopcontenttext">Wedding Commercial</p>
  </div>

    <div class="aboutvideotopcontent">
     <img src="/images/GiftopiaVideo3.png" alt=""/>
    <p class="aboutvideotopcontenttext">GPS Coming Soon...</p>
  </div>
</div>

<br />
<hr>
<br />



<!--<div id="mc_embed_signup">-->
<form action="http://giftopia.us4.list-manage.com/subscribe/post?u=d8562ed1e9b8d54aba1e1f1f0&amp;id=6d1f054a9a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
	<label for="mce-EMAIL"> <div class="">Don't Forget to Subscribe to Our Mailing List</div></label>
    <br />
	<input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="email address" required>
	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="weddingbuttonsubscribe">
</form>

<!--</div>-->
</div>
