<div class="row top-slider">
  <div class="container">
      <h1>CONTACT US</h1>
      <br />
      <p>Eventastic strives to provide the best online event management platform for attendees, organizers, affiliates and sales reps. If you have feedback on how we can improve, we would love to hear it. Our ears are open – tell us!</p>
      <br />
   <center><form action="/contact_us" method="post">
      <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Name"/>
      <br/>
      <label for="email">Email</label>
            <input  type="text"id="email" name="email" placeholder="Email"/>
      <br/>
      <label for="phone">Phone</label>
            <input  type="text" id="phone" name="phone" placeholder="Phone Number"/>
      <br/>
          <label for="query" >Your Question/Feedback/Message:</label>
          <textarea id="query" name="query"></textarea>
      <br/>
        <input type="submit" value="Send" class="btn btn-large btn-success" style="width:250px;"/>
    </form> </center>
    <br />
      <br />
    <br />
      <br />
    <br />
  </div>
</div><!-- /top-slider -->

