<script>
  $('#clipcontrol').hide();
  $('#pags').hide();
  $('#foreground').hide();
  $('#maincontentdiv').hide();
 // $('#maincontentdiv').fadeIn(1500);

$('#maincontentdiv').animate({top: "600px"}, 0 );
  $('#maincontentdiv').show();
  $('#maincontentdiv').animate({top: "101px"}, 1000 );
</script>
<p>Thanks for sending your message!</p>