<div class="row top-slider">
  <div class="container">
      <h1><span class="red">CONTACT US</span></h1>
      <br />
    <b><p>Eventastic strives to provide the best online event management platform for attendees, organizers, affiliates and sales reps. If you have feedback on how we can improve, we would love to hear it. Our ears are open – tell us!</p></b>
      <br />
   <center><form action="/contact_us" method="post">
      <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Name"/>
      <br/>
      <label for="email">Email</label>
            <input  type="text"id="email" name="email" placeholder="Email"/>
      <br/>
      <label for="phone">Phone</label>
            <input  type="text" id="phone" name="phone" placeholder="Phone Number"/>
      <br/>
          <label for="query" >Your Feedback:</label>
          <textarea id="query" name="query"></textarea>
      <br/>
        <input type="submit" value="Send" class="btn btn-large btn-success" style="width:250px;"/>
    </form> </center>
    <br />
      <br />
    <br />
      <br />
    <br />
  </div>
</div><!-- /top-slider -->

<div class="row top-download" style="margin-bottom: 5px;">
 <!-- <div class="button-container-top">
    <div class="fadehover">
      <a href="#download" class="top-download-button"><img class="a" src="img/download-button.png" alt="Download"><img class="b" src="img/download-button-hover.png" alt="Download"></a>
    </div>
  </div> -->
</div>
<section>
  <div class="container" style="position:relative;top:-20px;margin-top: -90px;">
    <div class="row highlights">
      <a href="/events/new">
      <div class="span3 box">
        <div class="icon"><i class="icon-ok-circle red"></i></div>
        <h3 class="center gray">Create An Event</h3>
        <p class="center"></p>
      </div>
      </a>
      <a href="/search">
      <div class="span3 box">
        <div class="icon"><i class="icon-ok-circle red"></i></div>
        <h3 class="center gray">Find An Event</h3>
        <p class="center"></p>
      </div>
      </a>
      <a href="/affiliates">
      <div class="span3 box">
        <div class="icon"><i class="icon-ok-circle red"></i></div>
        <h3 class="center gray">Affiliate Services</h3>
        <p class="center"></p>
      </div>
      </a>
      <a href="/sales_forgot">
      <div class="span3 box">
        <div class="icon"><i class="icon-ok-circle red"></i></div>
        <h3 class="center gray">Sales Services</h3>
        <p class="center"></p>
      </div>
      </a>
    </div>
    <hr/>
  </div>
</section><!-- /highlights -->

<br />