<div class="row top-slider">
  <div class="container">
    <br />
    <br />
   
    <div style="display:inline-block">
      <div class="info">
       <h1>Whether you’re a small business or a large corporation, <strong>Eventastic</strong> can help you create professional, on-brand video invitations in minutes.</h1>
       </div>
    <div class="info">
      <br />
      <!--<p>Empower and reward your sales team to increase attendance using the convenient commission dashboard. If you need some help to get started, just contact us for ideas or check out our blog for inspiration and time-saving tips.</p> -->
      <h2>Here’s just a taste of the features we offer that will help make your next event a success:</h2>
      <br />
      <ul style="list-style:square;padding-left: 10px;">
        <li>Video invitations that increase open rates</li>
        <li> Track RSVPs</li>
        <li> Online ticketing with customizable ticketing and ticketing packages</li>
        <li>Promo code option</li>
        <li>Share photos before, during and after the event</li>
        <li>Send personalized video messages along the way</li>
        <li>Commission program to empower others</li>
      </ul>
      <br />
      <h3>Organizing an event has never been easier.</h3>
      <br />
      <!--<h4>What are you waiting for?</h4>-->
    </div><!--info-->
    <div class="getstart">
      <br />
      <%= render 'users/signup' %>
    </div>
    </div><!--inline-block-->
  </div><!--container-->
</div><!-- /top-slider -->
 