 <div class="row top-slider">
    <div class="container">
      <br />
      <br />
      <div style="display:inline-block">
          <div class="info">
            <h1>You won't believe how easy it is to get the party started!</h1>
          </div>
          <div class="info">
            <br />
            <p>Organizing a mitzvah, birthday party, wedding/baby shower, retirement house party, or holiday get-together has never been easier. These are just some of the features we offer that make organizing a party simple:</p>

            <ul style="list-style:square; margin-top:20px;float:left;padding-left: 10px;">
              <li>Video invitations that increase open rates</li>
              <li>Track attendees</li>
              <li>Collect money for a group gift</li>
              <li>Share photos before, during and after the event</li>
              <li>Send personalized video messages along the way</li>
            </ul>
            <br />
          </div><!--info-->
        <div class="getstart" >
          <br />
          <%= render 'users/signup' %>
        </div>
      </div><!--inline-block-->
    </div><!--container-->
  </div><!-- /top-slider -->
