<div class="row top-slider">
  <div class="container">
    <br />
    <br />
    <div style="display:inline-block">
      <div class="info">
        <h1>Transform your invitation process into a unique interactive experience for your guests with personalized video messages!</h1>
      </div>
      <div class="info">
      <br />
      <p> In just a few minutes you can create a personal message or upload a share link from YouTube that sells tickets and increases donations.</p>
      <br />
      <h2> Bring your next event to life with video and ditch the traditional print invites that blend in.</h2>
      <br />
      <h3>Make your event stand out!</h3>
      <br />
      </div><!--info-->
      <div class="getstart" style="margin-top:-10px">
        <br />
        <%= render 'users/signup' %>
      </div>
    </div><!--inline-block-->
  </div><!--container-->
</div><!-- /top-slider -->
