<div class="row top-slider">
  <div class="container">
    <br />
    <br />

    <div style="disply:inline-block">
    <div class="info">
       <h1>Promote your event online and sell your tickets faster than ever before</h1>
    </div>
    <div class="info">
      <br />
      <h2>Regardless of the size of your event, online registration and ticketing will help you achieve great results.</h2>
      <br />
      <p>Add your own personal or corporate branding to your promotional page and you’ll be up and running in minutes. Our comprehensive event planning tool allows you to create, promote, track, manage and sell all in one place. Here are just some of the utilities that will help make your event a sell-out. </p>
      <br />
      <ul style="list-style:square; padding-left: 10px;">
        <li>Video invitations</li>
        <li>Instant ticketing - print or mobile</li>
        <li>Ticketing software</li>
        <li>Social media links</li>
        <li>Cross-promotions with event partners</li>
        <li>Merchandise sales - sell any item on your page in advance</li>
      </ul>
      <br />
      <p>Organizing an event has never been easier.</p>
      <br />
      <p>Spread the word and increase attendance and merchandise sales at your next concert, theatre production, dance recital, or festival.</p>
      <br />
      <h3>Create engaging invitations, start the buzz on social media sites and track results of your event’s performance.</h3>
      <br />
      <p>It’s like having a public relations team in your pocket. What are you waiting for?</p>
      <br />
      <br />
    </div><!--info-->

    <div class="getstart">
        <br />
        <%= render 'users/signup' %>
    </div>


    </div><!--inline-block--> 
  
  </div><!--container-->
</div><!-- /top-slider -->

