<div class="row top-slider">
  <div class="container">
    <br />
    <br />

    <div style="display:inline-block">
    <div class="info">
      <h1>Let us help you raise more money with less effort.</h1>
    </div>
    <div class="info">
      
        <br />
      <h2>Promote your next fund-raiser, register participants, gather pledges and donations.</h2>
       <br />
      <p>Canvas your past donors, but also create a social media buzz to gain attention from new donors and the media. You can also post photos and videos before, during and after your event. </p>
      <br />
      <p>If a picture is worth a thousand words, video invitations will bring your next event to life and improve the open-rate of your emails. In just a few minutes you can create a personal message or upload a share link from YouTube that increases your donations.</p>
      <br />
      <ul style="list-style:square; padding-left: 10px;">
        <li>Video invitations that increase open rates</li>
        <li>Ticketing - print or mobile</li>
        <li>Custom event Page</li>
        <li>Registration reporting</li>
        <li>Online Donations</li>
        <li>Social Media Promotion</li>
      </ul>
       <br />
      <p>Spread the word and increase participation at your next charitable event.</p>
      <br />
      <h3>Create engaging invitations, start the buzz on social media sites and track results of your event’s performance. </h3>
       <br />
      <p>It’s like having a public relations team in your pocket.  What are you waiting for?</p>
       <br />
    </div><!--info-->

      <div class="getstart">
        <br />
        <%= render 'users/signup' %>
      </div>   

    </div><!--inline-block-->

  </div><!--container-->
</div><!-- /top-slider -->
