<%= stylesheet_link_tag '/css_temp/override.css' %>
<div class="row top-slider">

  <div class="container">      
    <br />
    <br />
    <h1>Welcome to the most unique features in the industry!</h1>
    <br />
    <p>Now you can send video invitations, manage RSVPs, sell tickets, collect contributions to a group gift, receive online donations, post videos and promote your event via social media – all in one easy to use  site. Check out these features that will simplify your event management and fundraising experience.</p>
    <div class="clearfloat"></div>
   <center>
    <br />
    <table style="border-collapse:separate;
    border-spacing:2em;">

    <tr>
      <td valign="top" style="padding-left: 5%;">
        <span style="position:relative;top: -5px;">
        <h3>ONLINE TICKETING</h3>
        <img src="/images/howitworks/tix.png" width="200px">
        </span>
      </td>
      <td valign="top">
        <ul style="list-style:square;">
          <li>Sell a variety of ticket types and prices; Admission, merchandise, sponsorship, etc.</li>
          <li>Manage capacity with attendee limits</li>
          <li>Track sales and capacity with the Eventastic dashboard</li>
          <li>Print or store tickets on your smart phone</li>
        </ul>
      </td>
    </tr>

      <tr>
        <td valign="top" style="padding-left: 5%;">
          <span style="position:relative;top: -5px;">
          <h3>Free Registration & Attendee Tracking</h3>
          <img src="/images/howitworks/attendee.png" width="300px">
          </span>
        </td>
        <td valign="top">
          <ul style="list-style:square;">
            <li>Free for free events</li>
            <li>Use the Eventastic Dashboard to track your guest list</li>
            <li>Export Tools for name tags, seating arrangements and more</li>
            <li>Share your guest list on the event page at any capacity threshold</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td valign="top" style="padding-left: 5%;">
          <span style="position:relative;top: -5px;">
          <h3>Videos Increase Event Success</h3>
          <img src="/images/vid_about.png" width="300px">
          </span>
        </td>
        <td valign="top">
          <ul style="list-style:square;">
            <li>Video invitations improve open rates by up to 700%</li>
            <li>Record a personal video message or embed a corporate or YouTube video</li>
            <li>Transform your invitation into a unique interactive experience for your guests</li>
            <li>Provide event updates as your event changes or approaches capacity</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td valign="top" style="padding-left: 5%;">
          <span style="position:relative;top: -5px;">
          <h3>Social Media</h3>
          <img src="/images/social_about.png" width="170px">
          </span>
        </td>
        <td valign="top">
          <ul style="list-style:square;">
            <li>Share your event or fundraiser on social channels to create more buzz</li>
            <li>Link your event’s social profile so guests can connect and follow right from the event page</li>
            <li>Add the event hashtag to your event page so everyone can see the conversation</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td valign="top" style="padding-left: 5%;">
          <span style="position:relative;top: -5px;">
          <h3>Cash Gifting</h3>
          <img src="/images/howitworks/cash.jpg" width="300px">
          </span>
        </td>
        <td valign="top">
          <ul style="list-style:square;">
            <li>Organize group gifts with Eventastic’s secure on-line platform</li>
            <li>Invite guests to contribute to a larger group gift or cash gift for birthdays, mitzvahs, anniversaries or holidays</li>
            <li>Let your guests be part of the celebration even if they can’t attend in person</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td valign="top" style="padding-left: 5%;">
          <span style="position:relative;top: -5px;">
          <h3>Charitable Donations</h3>
          <img src="/images/donations_about.png" width="340px">
          </span>
        </td>
        <td valign="top">
          <ul style="list-style:square;">
            <li>Make it easy for people to donate with event page donation handling</li>
            <li>Easy set up for multiple donation options</li>
          </ul>
        </td>
      </tr>

      <tr>
      <td valign="top" style="padding-left: 5%;">
          <span style="position:relative;top: -5px;">
          <h3>Photo Sharing</h3>
          <img src="/images/howitworks/girls.jpg" width="340px">
          </span>
        </td>
        <td valign="top">
          <ul style="list-style:square;">
            <li>Guests can upload photos from their smartphones, right from the event page</li>
            <li>Live stream uploaded photos during the event</li>
            <li>Organizers control how images are approved</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td valign="top" style="padding-left: 5%;">
          <span style="position:relative;top: -5px;">
          <h3>Affiliate Partners</h3>
          <img src="/images/howitworks/aff.jpg" width="200px">
          </span>
        </td>
        <td valign="top">
          <ul style="list-style:square;">
            <li>Generate more revenue by setting up partner programs with third party event organizers</li>
            <li>Venues, caterers and charities are examples of affiliates that can cross promote events on their website</li>
            <li>Increase reach with affiliate promotions</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td valign="top" style="padding-left: 5%;">
          <span style="position:relative;top: -5px;">
          <h3>Commission Earnings</h3>
          <img src="/images/howitworks/mob.jpg" width="340px">
          </span>
        </td>
        <td valign="top">
          <ul style="list-style:square;">
            <li>Take the pressure off by having your sales team promote and sell tickets</li>
            <li>You and your sales team can watch the success through easy to use Eventastic dashboards</li>
          </ul>
        </td>
      </tr>

    <tr>
      <td valign="top" style="padding-left: 5%;">
        <span style="position:relative;top: -5px;">
        <h3>Low Fees</h3>
        <img src="/images/fees.png" width="270px">
        </span>
      </td>
      <td valign="top">
        <ul style="list-style:square;">
          <li>If you keep it free, we keep it free!</li>
          <li>If you generate revenue from your event, our rate of 2.5% plus a ticket processing fee is one of the lowest available</li>
          <li>Standard PayPal fees also apply</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td valign="top" style="padding-left: 5%;">
        <span style="position:relative;top: -5px;">
        <h3>Mobile App Check-In</h3>
          <img src="/images/checkin_about.png" width="320px">
        </span>
      </td>
      <td valign="top">
        <ul style="list-style:square;">
          <li>Tickets are emailed to attendees with a PDF attachment and can be printed or scanned from a smartphone right at admission</li>
          <li>Tickets can be resent to attendees if lost</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td valign="top" style="padding-left: 5%;">
        <span style="position:relative;top: -5px;">
        <h3>At The Door Sales</h3>
          <img src="/images/howitworks/sales.jpg" width="300px">
        </span>
      </td>
      <td valign="top">
        <ul style="list-style:square;">
          <li>Use the mobile version of the event page to;<br />Process ticket sales at the door<br />Process donations and cash gifts at the event</li>
        </ul>
      </td>
    </tr>
    </table>

    <h3>Events should be this easy!</h3>

   </center>
    <br />
   <br />
    <center><input class="btn btn-large btn-success" value="Get Started now!" type="button" onclick="window.location='/user/new'"/></center>
    <br />
    <br />
     <br />
     
  </div>
</div><!-- /top-slider -->



<br />
