<section>
  <div class="container">
<h1>Welcome to Eventastic.com Affiliate program</h1>
<input type="button" onclick="history.go(-1);" value="Back" class="btn btn-primary" style="position:absolute;top:75px;right:25px;" />
<br/><br/>
    <p>Eventastic is owned and operated by Giftopia Inc.  This program offering businesses the opportunity to increase revenue, services and SEO in one easy step.  Our goal is to say thank you for supporting us through an ingenious program that will make your business look like a rockstar and perform like one too. </p> 
    <p>We allow you to earn a percentage of what we earn together  and allow you to display all the events hosted at your venue or business tastefully and color matched to your website.  By exposing all the events hosted through your business, guests will never have a problem finding the event and buying tickets…...in essence on your site or ours. </p> 
    <p>You win, the event organizer wins and the guests win as well.</p>    
    <br />
    <h3>Heres how it works:</h3>  
    <br />
    <p>1	click on link, Register with completed form </p>
    <p>2	Wait account approval, from the Eventastic Team </p>
    <p>3	Set up links, website widget,  and events listings page site color matched</p>
    <p>4	Promote event and earn money and increase traffic flow to your site </p>
    <p>5	Look to our optional Commission program to motivate you and your staff </p>
    <br />
      <h3>Welcome the Event Rep program,</h3>
    <br />
    <p>Commission Sales people to help you sell tickets on our platform </p>
    <p>Eventastic has launched a feature to help you get help selling tickets and keeping people motivated to making you event a success.  We all know that when it comes to free help they tend to be less committed to the cause then you are.  Now with a single email you can appoint people as commissioned sales people to get them out and selling. </p>
    <p>Lets say you are hosting an event,  the capacity of the venue is 350 people.  Your Eventastic page is finished and your ticketing functions are waiting guest. You initially wanted to sell tickets for $11.00 but decided to turbo charge sales by adding $4.00  making it a $15.00 ticket.  Yeah! I said that,  increase price in this way and it will increase sales. </p> 
    <p>Simple go to your management dashboard and put in name and email address of people that said they would help you sell tickets or your staff.  They will get an email and a link that they each individually use to promote your event.    Now every ticket they sell generates a $4.00 commission for them. Now they are motivated.</p> 
    <p>Your Dashboard will always at a glance show you who is working hard for you and what sales they have achieved,  what sales you have achieve and what the total tickets sold are, at any given point.  At Event organizers cash out,  we coordinate  everything for you and you simple click  an allocation button to issue them the money they earned promoting you.  Its that simple.   You can even change their commission to increase sales if you find you  are needing to bump the numbers immediately before an event…… </p>
    <br />
        <h3>Terms of Service</h3>
    <br />
    <p>This agreement (the “Agreement” ) is made between Giftopia Inc. and or any Giftopia Inc subsidiaries (the “Company”), and the Affiliate, and collectively, the “Parties”) for participation in The Company’s affiliate program. If Affiliate does not subscribe to or participate in the affiliate program, please disregard the following agreement.</p>
    <p>Affiliate in exchange for approved status wishes to include certain materials promoting Company, and to include a link and or a landing page to Company’s website within those materials on Affiliate’s website or in communications;</p>
    <p>NOW THEREFORE, in consideration of the mutual promises, covenants, warranties, and other good and valuable consideration set forth herein, the Parties agree as follows:</p>
    <br />
          <h3>Promotional Materials.</h3>
    <br />
    <p>Company shall make available to Affiliate certain banner advertisements,landing pages, button links, text links, and/or other graphic or textual material for display and use on the Affiliate website (the “Promotional Materials”). Affiliate shall display the Promotional Materials on Affiliate’s website prominently and as Affiliate sees fit, provided that the manner of display shall be subject to the terms and conditions of this Agreement. Affiliate shall also include a link from the Promotional Materials to Company’s website, as specified and provided by Company.</p>
    <br />
            <h3>Use of Promotional Materials.</h3>
    <br />
    <p>The Affiliate’s use and display of the Promotional Materials on the Affiliate’s site shall conform to the following terms, conditions and specifications:</p>
    <p>Affiliate may not use any graphic, textual or other materials to promote Company’s website, products or services other than the Promotional Materials, unless Company agrees to such other materials in writing prior to their display.</p>
    <p>Affiliate may only use the Promotional Materials for the purpose of promoting Company’s website (and the products and services available thereon), and for linking to Company’s website.</p>
    <p>Affiliate will not alter, add to, subtract from, or otherwise modify the Promotional Materials as they are prepared by Company. If Affiliate wishes to alter or otherwise modify the Promotional Materials, Affiliate must obtain prior written consent from Company for such alteration of modification.</p>
    <p>The Promotional Materials will be used to link only to Company’s website, to the specific page and address as specified by Company.</p>
    <br />
              <h3>License.</h3>
    <br />
    <p>Company hereby grants to Affiliate a nonexclusive, nontransferable license (the “License”) to use the Promotional Materials as specified under the terms and conditions of this Agreement. The term of the License shall expire upon the subscription expiration or termination of this Agreement and/or when deemed expired or cancelled by the Company.</p>
    <br />
                <h3>Intellectual Property.</h3>
    <br />
    <p>Company retains all right, ownership, and interest in the Promotional Materials, and in any copyright, trademark, or other intellectual property in the Promotional Materials. Nothing in this Agreement shall be construed to grant Affiliate any rights, ownership or interest in the Promotional Materials, or in the underlying intellectual property, other than the rights to use the Promotional Materials granted under the License, as set forth in Section 3. </p>
    <br />
                  <h3>Relationship of Parties.</h3>
    <br />
    <p>This Agreement shall not be construed to create any employment relationship, agency relationship, or partnership between Company and Affiliate. Affiliate shall provide services for Company as an independent contractor. Affiliate shall have no authority to bind Company into any agreement, nor shall Affiliate be considered to be an agent of Company in any respect.</p>
    <br />
                    <h3>Affiliate Fee.</h3>
    <p>In exchange for Affiliate’s display of the Promotional Materials, and for Affiliate’s compliance with and performance of the terms and conditions of this Agreement, Company shall pay to Affiliate a Fee (the “Fee”) in the amount of a percentage of fees from product sold or items cash gifted to a user that accesses Company’s website through a link on Affiliate’s website. </p>
    <p>The current fee is a 25% percentage of the 2.5% cash transaction. This percentage is subject to change by the Company at any time. Notification to Affiliate of any change in Fee percentage will be given by Company at the email address on hand for the Affiliate. Fee will be based on purchases made, or donations or cash gifted by a user for any new and recurring purchases for the life of the registered user on each specific event.</p>
    <p>Company shall keep accurate and up-to-date records of the data used to determine the total amount of Fees owed to Affiliate. Any discrepancy between the amount of Fees owed will default to that provided by and justified by the Company.</p>
    <p>c. Company in the event of any chargeback that may occur. Company shall pay all Fees accrued and payable to Affiliate upon full or partial cash out by user (the “Fee Payment Date”). Payment is made via the Affiliate PayPal account unless otherwise deemed by the Company. </p>
    <p>In the event that Affiliate materially breaches this Agreement the Company can terminate this Agreement within 30 days of such breach, then any accrued and subscription and payable Fees owing to Affiliate shall be forfeited, and Company shall not be obligated to pay such subscription refunds or Fees to Affiliate.  </p>
    <p>e. The Company reserve the right to Cancel affiliate for any reason with 30 days emailed notice and any accrued and payable Fees owing to Affiliate shall be forfeited, and Company shall not be obligated to pay such Fees to Affiliate nor refund subscription fees if any were paid by Affiliate. </p>
    <br />
                      <h3>Affiliate’s Representations and Warranties.</h3>
    <br />
    <p>Affiliate represents and warrants the following:</p>
    <p>Affiliate has the legal authority to enter into this Agreement and to be bound to the promises, covenants, and other duties set forth in this Agreement.  </p>
    <p>Affiliate’s website does not contain any materials that are: </p>
    <p>i.Sexually explicit, obscene, or pornographic;  </p>
    <p>ii.Offensive, profane, hateful, threatening, harmful, defamatory, libelous, harassing, or discriminatory (whether based on race, ethnicity, creed, religion, gender, sexual orientation, physical disability, or otherwise);</p>
    <p>Graphically violent, including any violent video game images; or </p>
    <p>iv. Solicitous of any unlawful behavior  </p>
    <p>Affiliate has obtained any necessary clearances, licenses, or other permission for any intellectual property used on Affiliate’s website. Nothing on Affiliate’s website infringes upon the intellectual property rights of any person or entity. No person or entity has brought or threatened an action claiming such infringement, nor does Affiliate have any reason to believe that any person or entity will bring or threaten such a claim in the future. </p>
    <p>Affiliate will not use the Promotional Materials in any manner other than those set forth above. </p>
    <p>Affiliate will not make any claim to ownership of the Promotional Materials, or of the copyright, trademark, or other intellectual property therein.</p>
    <p>Affiliate will not publish or otherwise distribute any advertising materials for affiliate’s website that reference Company or Company’s website unless Company gives prior written consent to the distribution of such materials. Affiliate will not use Company’s name (or any name that is confusingly similar to Company’s name) for any purpose on its website, in its promotional materials, or in any other context except to promote Company’s website as specified in this Agreement. Affiliate will not register any domain name that incorporates Company’s name, or that is confusingly similar to Company’s name. </p>
    <p>Affiliate will not engage in the distribution of any unsolicited bulk emails (spam) in any way mentioning or referencing Company or Company’s website. </p>
    <br />
                        <h3> Indemnification.</h3>
    <br />
    <p>Affiliate shall indemnify Company and hold harmless Company from any claim, damage, lawsuit, action, complaint, or other costs arising out of any breach of Affiliate’s warranties set forth  above. Affiliate shall also indemnify and hold harmless Company for any damage, loss or other cost arising out of the use or misuse by Affiliate of the Promotional Materials. </p>
    <br />
                          <h3>Confidentiality.</h3>
    <br />
    <p>Any information that Affiliate is exposed to by virtue of its relationship with Company under this Agreement, which information is not available to the general public, shall be considered to be “Confidential company Information.” Affiliate may not disclose any Confidential Company Information to any person or entity, except where compelled by law, unless Affiliate obtains prior written consent for such disclosure from Company. </p>
    <br />
                            <h3>Term.</h3>
    <br />
    <p>This Agreement shall take effect immediately upon fully paid subscription, and shall remain in full force and effect for 1 year from that date, or until terminated pursuant to this Section. Subscription cost/Approval is that amount paid at that time and is subject to change. </p>
    <p>Either Party shall have the right to terminate this Agreement at any time and for any cause. The terminating Party must give written email notice to the other Party at least 30 days prior to the intended date of termination. </p>
    <br />
                              <h3>Taxes.</h3>
    <br />
    <p>Company shall not be responsible for any taxes owed by Affiliate arising out of Affiliate’s relationship with Company as set forth in this Agreement. Company shall not withhold any taxes from the Fees paid to Affiliate.   </p>
    <br />
                                <h3>Limitation of Liability.</h3>
    <br />
    <p>Company shall not be liable for any loss of profits or costs, or for any direct, indirect, special, incidental or consequential damages, including costs associated with the procurement of substitute goods or services (whether Company was or should have been aware or advised of the possibility of such damage), arising out of or associated with any loss, suspension or interruption of service, termination of this Agreement, use or misuse of the Promotional Materials, or other performance of services under this Agreement. </p>
    <br />
                                  <h3>Counterparts.</h3>
    <br />
    <p>This Agreement may be executed in several counterparts, each of which shall constitute an original and all of which, when taken together, shall constitute one agreement.</p>
    <br />
                                    <h3>Severability.</h3>
    <br />
    <p>If any part or parts of this Agreement shall be held unenforceable for any reason, the remainder of this Agreement shall continue in full force and effect. If any provision of this Agreement is deemed invalid or unenforceable by any court of competent jurisdiction, and if limiting such provision would make the provision valid, then such provision shall be deemed to be construed as so limited.  </p>
    <br />
                                      <h3>Headings. </h3>
    <br />
    <p>The headings for section herein are for convenience only and shall not affect the meaning of the provisions of this Agreement. </p>
    <br />
                                        <h3>Communications </h3>
    <br />
    <p>Company will immediately send a communication email to the Affiliate upon user registration through the Affiliates website. A current Affiliate email address is to be provided by the Affiliate at all times and any changes of email address will be put to the attention of the Company immediately. Any communication that is lost as a result of non current email address will not be the liability of the Company. </p>
    <br />
                                          <h3>Optional Planners/Organizer  appointment of Commission Ticket Sales Software:</h3>
    <br />
    <p>Giftopia makes available Software via the Services that makes it possible for Organizers to offer third parties (”Commission Sales Affiliate”) a bonus in exchange for referring Buyers to their event(s) ("Commission Referral Sales Affiliate Software"). Giftopia will make a good faith effort to provide information and instructions as necessary to use the Commission Referral Sales Affiliate Software correctly. If you use the Commission Referral Sales Affiliate Software in any capacity, you will comply with all such instructions. These instructions can be found at support@eventastic.com </p>
    <p>For clarity, the Commission Referral Sales Affiliate Software shall be deemed part of the "Software" and "Services" hereunder. Your use of the Commission Referral Sales Affiliate Software is also subject to the following terms and conditions: (a) Giftopia is neither a party to any agreements (actual or implied) entered into by Organizers and Buyer Referrers, nor is it an agent, employee, partner or other representative of Organizers or Buyer Referrers. Giftopia has no responsibility for any failure or alleged failure of performance of any Organizer or Buyer Referrer to each other or to any third party. (b) Giftopia does not screen or investigate in any way the users of the Services to determine their ability or willingness to perform the obligations that may be undertaken pursuant to this Commission Referral Sales Affiliate program. Organizers and Commission Referral Sales Affiliate need to resolve all questions and issues between themselves. Giftopia makes no representations or warranties and gives no assurances that any Organizer or any Commission Referral Sales Affiliate  will perform under the Commission Referral Sales Affiliate  program, including without limitation Organizers paying any money owed to Commission Referral Sales Affiliates. (c) Giftopia will not settle, mediate or otherwise assume responsibility for resolving disputes between Organizers and Commission Referral Sales Affiliates. (d) Giftopia assumes no liability arising from the use or misuse of the Commission Referral Sales Affiliate Software, or in the event that the Commission Referral Sales Affiliate Software fails to operate as expected, even if such failure results in the loss of data or in the misrepresentation of data necessary for the Organizers and Commission Referral Sales Affiliate  to fulfill commitments entered into using the Commission Referral Sales Affiliate Software. Giftopia will, on your behalf distribute commission funds less service fees to such appointed individuals or organizations.  Acceptance of these Terms and Service are mandatory for use of such Commission Referral Sales Affiliate Software. </p>
    <br />
                                            <h3>Entire Agreement.</h3>
    <br />
    <p>This Agreement constitutes the entire agreement between Company and Affiliate, and supersedes any prior understanding or representation of any kind preceding the date of this Agreement. There are no other promises, conditions, understandings or other agreements, whether oral or written, relating to the subject matter of this Agreement.  </p>
    <br />

</div>
</section>
