<div class="side_panel_inner">
  <center>
    <br />
    <center><h4 style="color:#fff;font-size: 36pt;">Contact Us</h4>
    <hr />
  <!--<p style="color:#fff">We would like to know what you think about us, please fill out the form below, and help us make your experience even better!</p> -->
  <form action="/contact_us" method="post">
    <label style="color:#fff;" for="name">Name</label>
          <input class="loginFormSize" type="text" id="name" name="name" placeholder="Name"/>
    <br/>
    <label style="color:#fff;" for="email">Email</label>
          <input class="loginFormSize" type="text"id="email" name="email" placeholder="Email"/>
    <br/>
    <label style="color:#fff;" for="phone">Phone</label>
          <input class="loginFormSize" type="text" id="phone" name="phone" placeholder="Phone Number"/>
    <br/>
        <label for="query" style="color:#fff;">Your Question/Feedback/Message:</label>
        <textarea id="query" name="query" class="loginFormSize"></textarea>
    <br/>
      <input type="submit" value="Send" class="btn btn-large btn-success" style="width:250px;"/>
  </form>
  <br />
  </center>
</div>